<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
       <add key="services" value="Test"/>
  </appSettings> 
  <configSections>
    <section name="Test" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <Test>
    <add key="exec" value="..\..\..\io.vty.cswf.srv.test.exe\bin\Debug\io.vty.cswf.srv.test.exe.exe"/>
    <add key="args" value="running"/>
    <add key="out" value="out.log"/>
    <add key="err" value="err.log"/>
    <add key="cws" value="."/>
    <add key="on" value="true"/>
  </Test>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>