<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Test" type="System.Configuration.DictionarySectionHandler"/>
    <section name="Test2" type="System.Configuration.DictionarySectionHandler"/>
    <section name="Test3" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <appSettings>
    <add key="services" value="Test,Test2,Test3" />
  </appSettings>
  <Test>
    <add key="cws" value="D:\vs\cswf.srv\io.vty.cswf.srv.test.exe\bin\Debug"/>
    <add key="exec" value="D:\vs\cswf.srv\io.vty.cswf.srv.test.exe\bin\Debug\srv.test.exe"/>
    <add key="args" value="running"/>
    <add key="out" value="out.log"/>
    <add key="err" value="err.log"/>
    <add key="on" value="true"/>
  </Test>
  <Test2>
    <add key="cws" value="D:\vs\cswf.srv\io.vty.cswf.srv.test.exe\bin\Debug"/>
    <add key="exec" value="srv.test.exe"/>
    <add key="args" value="running2"/>
    <add key="out" value="out2.log"/>
    <add key="err" value="err2.log"/>
    <add key="on" value="true"/>
  </Test2>
  <Test3>
    <add key="cws" value=""/>
    <add key="exec" value=""/>
    <add key="args" value=""/>
    <add key="out" value="out2.log"/>
    <add key="err" value="err2.log"/>
    <add key="on" value="false"/>
  </Test3>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>